p {
    margin: 0;
}
.gamescreen-container {
    height: 100vh;
    background-color: #303131;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-bar {
    width: 80%;
    margin-top: 41px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.game-score {
    display: flex;
    gap: 20px;
    padding: 17px 20px;
    background-color: rgba(134, 233, 214, 0.2);
    align-items: center;

    img {
        width: 24px;
        height: 20px;
    }
}

.player-info {
    display: flex;
    align-items: flex-end;

    p {
        color: white;
        margin-right: 8px;
    }

    img {
        width: 24px;
        height: 20px;
    }
}

.exit-btn {
    display: flex;
    background-color: rgba(134, 233, 214, 0.2);
    border: 1px solid #4DD5BC;
    padding: 16px 24px;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    &:hover {
        border: 2px solid #4DD5BC;
        padding: 15px 23px;
        box-shadow: 2px 2px 4px rgb(240, 234, 110, 0.4);
    }

    p {
        color: white;
        font-family: 'Red rose', sans-serif;
        font-size: 24px;
    }

    img {
        width: 26px;
        height: 23px;
    }
}